
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <i class="fas fa-fish"></i>
      <a class="navbar-brand " href="#">スグ食べ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>         
       <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-3">近くのお店空いてます</h1>
        <h3 class="masthead-subheading mb-0">とりあえず一杯、寄ってきませんか？</h3>
        <form class="form-inline mt-5">
          <h5>人数・エリアから検索する</h5>
          <label class="sr-only" for="inlineFormInputName2">キーワード</label>
          <input type="text" class="form-control mx-4" id="inlineFormInputName2" placeholder="キーワード">
          <h5>×</h5>
          <label class="sr-only" for="inlineFormInputName2">エリア</label>
          <input type="text" class="form-control mx-4" id="inlineFormInputName2" placeholder="エリア">
          <h5>×</h5>
          <label class="sr-only" for="inlineFormInputName2">人数</label>
          <input type="text" class="form-control mx-4" id="inlineFormInputName2" placeholder="人数">
          <button type="submit" class="btn btn-primary ml-2">検索</button>
        </form> 
      </div>
    </div>
  </header>

  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small"> TECH::EXPERT 短期転職コース 70期</p>
    </div>
  </footer>